<app-nav-bar></app-nav-bar>
<h1 class="mt-5 text-center">Módulo de expresiones regulares</h1>

<div class="col container">
  <form id="regu" #signupForm="ngForm" (ngSubmit)="onSubmit(signupForm,txtdiv)">
    <div id="expregd">
      <input id="regexp" name="reg" type="text" placeholder="Expresión Regular" ngModel>
      <button type="button" (click)="comp(txtdiv)" id="aut">Reset</button>
    </div>
    <div contenteditable="true" name="intext" id="textreg" #txtdiv [innerHTML] ngModel>aabzaaaaab</div>
    <button id="comButton" type="submit" class="mt-1" >Comprobar</button>
    <ng-container *ngIf="coincide; else elseTemplate">
      <p class="text-success">{{msg}}</p>
    </ng-container>
    <ng-template #elseTemplate>
      <p class="text-danger">{{msg}}</p>
    </ng-template>
  </form>

</div>
