<app-nav-bar></app-nav-bar>
<section id="side-screen">
  <div class="left center-vertical">
    <img src="assets/icon/robot.svg" alt="" style="margin: auto" />
  </div>
  <div class="container right center-vertical">
    <div class="row content-text flexbox-col ml-5 mr-5">
      <div class="col-12 center-vertical">
        <div>
          <h1><span class="tittle">PROYECTO LENGUAJES FORMALES</span></h1>
        </div>
        <div>
          <strong>
            Este proyecto recopila en diferentes secciones, temas vistos en la materia de lenguajes formales, en el menú
            superior podrá acceder a los distintos módulos del sistema
          </strong>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
