@import '../../../../styles.scss';
.right {
    width: 60%;
    background: url('../../../../assets/icon/fondo.png');
    background-size: cover;
    background-position: center;
    height: 80vh;
}

.left {
    width: 40%;
    height: 80vh;
}

.tittle{
    font-family: 'Ubuntu', sans-serif;
    margin-right: 4vh;
}

.content-text {
    color: black;
    background-color: white;
    opacity: 0.9;
    font-size: 3vh;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 20px;
}

#side-screen {
    display: flex;
}