<footer class="footer-uptc">
    <div class="container">
        <div class="row full-width without-margin">
            <div class="col-12 col-md-6 col-lg-6" style="margin-bottom: 15px;">
                <div class="row without-margin">
                    <div class="col-12 left-desktop-center-mobile">
                        <img src="./assets/logo/uptc-blanco.png" height="100px" alt="">
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6 center-vertical" style="margin-bottom: 15px;">
                <div class="row without-margin full-width">
                    <div class="col-12" style="display: flex; justify-content: flex-end; text-align: right !important; flex-direction: column;">
                        UPTC Todos los derechos reservados
                        <u>Desarrollado por grupo de formales (1-0)</u>
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>