img {
    width: 80%;
    height: 80%;
}

.bg-success {
    background-color: #afd755 !important;
}

#chartdiv {
    width: 100%;
    height: 550px;
    max-width: 100%;
}

#father {
    display: flex;
}